
<!--модалка доков Краудинвестинга-->
<!--<div class="modal fade" tabindex="-1" role="dialog" id="modalDoc">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">-->
            <button type="button" class="close" ng-click="$dismiss()"><span aria-hidden="true">&times;</span></button>
            <div class="modal-header">
                <div class="title">Выбор договора</div>
            </div>
            <div class="modal-body">
                <uib-accordion>
                    <div class="panel panel-default" uib-accordion-group="ret">
                        <div uib-accordion-heading ng-click="pe.p.investments_contract_tmpl_id=1">
                            <h4 class="panel-title">
                                <label class="radio rounded empt">
                                    <input type="radio" name="ki-doc" value="1" ng-model="pe.p.investments_contract_tmpl_id">
                                    <span></span>&nbsp;
                                </label>
                                <a href> Договор #1</a>
                            </h4>
                        </div>
                        <div class="panel-body">
                            <div ng-include="'upload-static/contract-tmpl-ki-' + pe.temp.legalType + '-1.html'"></div>
                            <!--<a ng-href="{{pe.httpDocUrl+'contract-tmpl-ki-1.pdf'}}" id="pdfInv"></a> ng-click="pe.initDocs('#pdfInv');-->
                        </div>
                    </div>
                </uib-accordion>
            </div>
            <div class="modal-footer text-center">
                <button class="btn btn-success" ng-click="$dismiss()">Выбрать</button>
            </div>
<!--        </div>
    </div>
</div>-->
<!--модалка доков Краудинвестинга end -->