
<form name="ue.legalForm">
    <div class="form-group">
        <label>Организационно-правовая форма: <span class="text-danger">*</span></label>
        <!--<select class="select" ng-model="ue.temp.t.legal_type" required>
            <option value="1">Индивидуальный предприниматель</option>
            <option value="2">Общество с ограниченной ответственностью</option>
            <option value="3">Публичное акционерное общество</option>
            <option value="4">Непубличное акционерное общество</option>
            <option value="5">Иная организационно-правовая форма согласно ГК РФ</option>
        </select>-->
        <ui-select class="select"
                   search-enabled="false"
                   ng-model="ue.temp.t.legal_type">
            <ui-select-match>{{$select.selected.name}}</ui-select-match>
            <ui-select-choices repeat="o.id as o in ue.temp.legals">
                <span ng-bind="::o.name"></span>
            </ui-select-choices>
        </ui-select>
    </div>


    <div ng-if="ue.temp.t.legal_type && ue.temp.t.legal_type!=1">
        <div class="form-group">
            <label>Полное наименование юридического лица: <span class="text-danger">*</span></label>
            <input type="text" class="form-control"  required name="ur_fullname" ng-model="ue.temp.l.ur_fullname">
            <div class="alert alert-danger"
                 ng-if="ue.legalForm.ur_fullname.$touched&&ue.legalForm.ur_fullname.$error.required">
                <small>Введите полное наименование</small>
            </div>
        </div>
        <div class="form-group">
            <label>Сокращенное наименование юридического лица: <span class="text-danger">*</span></label>
            <input type="text" class="form-control" required name="ur_name" ng-model="ue.temp.l.ur_name">
            <div class="alert alert-danger"
                 ng-if="ue.legalForm.ur_name.$touched&&ue.legalForm.ur_name.$error.required">
                <small>Введите cокращенное наименование</small>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                    <label>ИНН: <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" required name="ur_inn"
                           mask='9999999999' restrict="reject"
                           ng-model="ue.temp.l.ur_inn">
                    <div class="alert alert-danger"
                         ng-if="ue.legalForm.ur_inn.$touched&&
                             (ue.legalForm.ur_inn.$error.required || ue.legalForm.ur_inn.$error.mask)">
                        <small>Введите ИНН</small>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                    <label>КПП: <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" required name="ur_kpp"
                           mask='999999999' restrict="reject"
                           ng-model="ue.temp.l.ur_kpp">
                    <div class="alert alert-danger"
                         ng-if="ue.legalForm.ur_kpp.$touched&&
                             (ue.legalForm.ur_kpp.$error.required || ue.legalForm.ur_kpp.$error.mask)">
                        <small>Введите КПП</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                    <label>ОГРН: <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" required name="ur_ogrn"
                           mask='99999 9999 9999' restrict="reject" mask-clean="true"
                           ng-model="ue.temp.l.ur_ogrn">
                    <div class="alert alert-danger"
                         ng-if="ue.legalForm.ur_ogrn.$touched&&
                             (ue.legalForm.ur_ogrn.$error.required || ue.legalForm.ur_ogrn.$error.mask)">
                        <small>Введите ОГРН</small>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="datepickerAng form-group">
                    <label>Дата регистрации: <span class="text-danger">*</span></label>
                    <input type="text" class="form-control "
                           uib-datepicker-popup="dd-MM-yyyy" name="ii_num_date"
                           ng-model="ue.temp.l.ii_num_date" required
                           datepicker-options="ue.dateOptions"
                           is-open="ii_open3" show-button-bar="false"
                           ng-click="ii_open3 = true"/>
                    <div class="alert alert-danger"
                         ng-if="ue.legalForm.ii_num_date.$touched && (ue.legalForm.ii_num_date.$error.required ||
                          ue.legalForm.ii_num_date.$error.date)">
                        <small>Введите дату</small>
                    </div>
                </div>
            </div>
        </div>


        <div class="form-group">
            <label>Телефон: <span class="text-danger">*</span></label>
            <input type="text" class="form-control" required name="phone"
                   ui-mask="7(999) 999 99 99"
                   ng-model="ue.temp.l.ur_phone">
            <div class="alert alert-danger"
                 ng-if="(ue.legalForm.phone.$error.required || ue.legalForm.phone.$error.mask)&&
                  ue.legalForm.phone.$touched">Введите правильный телефон</div>
        </div>

        <div class="form-group">
            <label>Юридический адрес: <span class="text-danger">*</span></label>
            <textarea class="form-control" row="2" required name="ur_addres" ng-model="ue.temp.l.ur_addres"></textarea>
            <div class="alert alert-danger"
                 ng-if="ue.legalForm.ur_addres.$touched && ue.legalForm.ur_addres.$error.required">
                <small>Введите адрес</small>
            </div>
        </div>

        <div class="form-group">
            <label>Фактический адрес: <span class="text-danger">*</span></label>
            <textarea class="form-control" row="2" required name="ur_fact_addres" ng-model="ue.temp.l.ur_fact_addres"></textarea>
            <div class="alert alert-danger"
                 ng-if="ue.legalForm.ur_fact_addres.$touched && ue.legalForm.ur_fact_addres.$error.required">
                <small>Введите адрес</small>
            </div>
        </div>

        <div class="form-group">
            <label>ФИО руководителя: <span class="text-danger">*</span></label>
            <input type="text" class="form-control" required name="ur_boss" ng-model="ue.temp.l.ur_boss">
            <div class="alert alert-danger"
                 ng-if="ue.legalForm.ur_boss.$touched && ue.legalForm.ur_boss.$error.required">
                <small>Введите ФИО руководителя</small>
            </div>
        </div>

        <div class="form-group">
            <label>Сайт:</label>
            <input type="text" class="form-control" name="site" value="http://" ng-model="ue.temp.l.site">
        </div>

        <div class="form-group">
            <label>Загрузите скан документов <span class="text-danger">*</span></label>
            <div class="form-group">
                <div class="file_upload">
                    <label>
                        <span class="btn btn-success btn-sm btn-block">Протокол / Решение о назначении/
                            избрании единоличного исполнительного органа</span>
                        <input type="file"
                               ng-model="ue.temp.t.ur_photo_1"
                               name="ur_photo_1_temp"
                               ng-click="ue.blur.ur_photo_1=1"
                               accept=".png,.jpg,.jpeg"
                               ngf-select="ue.uploadDocs($file,'ur_photo_1')"
                               ngf-max-size="2MB"
                               ngf-model-invalid="ur_errorFile1">
                        <input type="hidden" ng-model="ue.temp.l.ur_photo_1" required name="ur_photo_1">
                        <span class="file_title">{{ue.temp.l.ur_photo_1.slice(-20)}}</span>
                    </label>
                </div>
                <span class="alert alert-danger" ng-if="ue.legalForm.ur_photo_1_temp.$error.maxSize">
                            <small>Вы пытаетесь загрузить файл размером {{ur_errorFile1.size / 1000000|number:1}}MB .
                                максимально допустимый размер 2M</small></span>
                <span ng-show="ue.blur.ur_photo_1 && ue.legalForm.ur_photo_1.$error.required"
                      class="alert alert-danger"><small>Загрузите скан</small></span>
            </div>
            <div class="form-group">
                <div class="file_upload">
                    <label>
                        <span class="btn btn-success btn-sm btn-block">Свидетельство о государственной регистрации
                            юридического лица</span>
                        <input type="file"
                               ng-model="ue.temp.t.ur_photo_2"
                               name="ur_photo_2_temp"
                               ng-click="ue.blur.ur_photo_2=1"
                               accept=".png,.jpg,.jpeg"
                               ngf-select="ue.uploadDocs($file,'ur_photo_2')"
                               ngf-max-size="2MB"
                               ngf-model-invalid="ur_errorFile2">
                        <input type="hidden" ng-model="ue.temp.l.ur_photo_2" required name="ur_photo_2">
                        <span class="file_title">{{ue.temp.l.ur_photo_2.slice(-20)}}</span>
                    </label>
                </div>
                <span class="alert alert-danger" ng-if="ue.legalForm.ur_photo_2_temp.$error.maxSize">
                            <small>Вы пытаетесь загрузить файл размером {{ur_errorFile2.size / 1000000|number:1}}MB .
                                максимально допустимый размер 2M</small></span>
                <span ng-show="ue.blur.ur_photo_2 && ue.legalForm.ur_photo_2.$error.required"
                      class="alert alert-danger"><small>Загрузите скан</small></span>
            </div>
            <div class="form-group">
                <div class="file_upload">
                    <label>
                        <span class="btn btn-success btn-sm btn-block">Свидетельство о постановке на налоговый учет</span>
                        <input type="file"
                               ng-model="ue.temp.t.ur_photo_3"
                               name="ur_photo_3_temp"
                               ng-click="ue.blur.ur_photo_3=1"
                               accept=".png,.jpg,.jpeg"
                               ngf-select="ue.uploadDocs($file,'ur_photo_3')"
                               ngf-max-size="2MB"
                               ngf-model-invalid="ur_errorFile3">
                        <input type="hidden" ng-model="ue.temp.l.ur_photo_3" required name="ur_photo_3">
                        <span class="file_title">{{ue.temp.l.ur_photo_3.slice(-20)}}</span>
                    </label>
                </div>
                <span class="alert alert-danger" ng-if="ue.legalForm.ur_photo_3_temp.$error.maxSize">
                            <small>Вы пытаетесь загрузить файл размером {{ur_errorFile3.size / 1000000|number:1}}MB .
                                максимально допустимый размер 2M</small></span>
                <span ng-show="ue.blur.ur_photo_3 && ue.legalForm.ur_photo_3.$error.required"
                      class="alert alert-danger"><small>Загрузите скан</small></span>
            </div>
            <div class="form-group">
                <div class="file_upload">
                    <label>
                        <span class="btn btn-success btn-sm btn-block">Устав (все страницы в одном файле формата .pdf)</span>
                        <input type="file"
                               ng-model="ue.temp.t.ur_photo_4"
                               name="ur_photo_4_temp"
                               ng-click="ue.blur.ur_photo_4=1"
                               accept=".pdf"
                               ngf-select="ue.uploadDocs($file,'ur_photo_4','/file/upload-doc')"
                               ngf-max-size="50MB"
                               ngf-model-invalid="ur_errorFile4">
                        <input type="hidden" ng-model="ue.temp.l.ur_photo_4" required name="ur_photo_4">
                        <span class="file_title">{{ue.temp.l.ur_photo_4.slice(-20)}}</span>
                    </label>
                </div>
                <span class="alert alert-danger" ng-if="ue.legalForm.ur_photo_4_temp.$error.maxSize">
                            <small>Вы пытаетесь загрузить файл размером {{ur_errorFile4.size / 1000000|number:1}}MB .
                                максимально допустимый размер 50M</small></span>
                <span ng-show="ue.blur.ur_photo_4 && ue.legalForm.ur_photo_4.$error.required"
                      class="alert alert-danger"><small>Загрузите скан</small></span>
            </div>
        </div>

        <div class="modal-sep"></div>

        <div class="title--small">Банковские реквизиты</div>

        <div class="form-group">
            <label>Название банка: <span class="text-danger">*</span></label>
            <input type="text" class="form-control" required name="ur_bank_name" ng-model="ue.temp.l.ur_bank_name">
            <div class="alert alert-danger"
                 ng-if="ue.legalForm.ur_bank_name.$touched && ue.legalForm.ur_bank_name.$error.required">
                <small>Введите название банка</small></div>
        </div>

        <div class="form-group">
            <label>БИК: <span class="text-danger">*</span></label>
            <input type="text" class="form-control" name="ur_bank_bik" required
                   ng-model="ue.temp.l.ur_bank_bik"
                   mask='999999999' restrict="reject">
            <div class="alert alert-danger"
                 ng-if="ue.legalForm.ur_bank_bik.$touched &&
                 (ue.legalForm.ur_bank_bik.$error.required||ue.legalForm.ur_bank_bik.$error.mask)">
                <small>Введите правильный БИК банка</small>
            </div>
        </div>

        <div class="form-group">
            <label>Корреспондентский счет банка: <span class="text-danger">*</span></label>
            <input type="text" class="form-control" name="ur_bank_corr" required
                   ng-model="ue.temp.l.ur_bank_corr"
                   mask='99999 99999 99999 99999' restrict="reject" mask-clean="true">
            <div class="alert alert-danger"
                 ng-if="ue.legalForm.ur_bank_corr.$touched &&
                 (ue.legalForm.ur_bank_corr.$error.required||ue.legalForm.ur_bank_corr.$error.mask)">
                <small>Введите правильный кор. счет банка</small>
            </div>
        </div>
        <div class="form-group">
            <label>Расчетный счет: <span class="text-danger">*</span></label>
            <input type="text" class="form-control" name="ur_bank_account" required
                   ng-model="ue.temp.l.ur_bank_account"
                   ui-mask='99999 99999 99999 99999'
                   ui-mask-placeholder-char="space">
            <div class="alert alert-danger"
                 ng-if="ue.legalForm.ur_bank_account.$touched &&
                 (ue.legalForm.ur_bank_account.$error.required||ue.legalForm.ur_bank_account.$error.mask)">
                <small>Введите правильный номер расчетного счета банка</small>
            </div>
        </div>
    </div>
    <div ng-if="ue.temp.t.legal_type && ue.temp.t.legal_type==1">
        <div class="form-group">
            <label>Наименование ИП: <span class="text-danger">*</span></label>
            <input type="text" class="form-control" required name="ii_name" ng-model="ue.temp.l.ii_name">
            <div class="alert alert-danger"
                 ng-if="ue.legalForm.ii_name.$touched&&ue.legalForm.ii_name.$error.required">
                <small>Введите название ИП</small>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                    <label>Номер свидетельства о государственной регистрации индивидуального предпринимателя:
                        <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" required name="ii_reg"
                           mask='99999 99999 99999' restrict="reject" mask-clean="true"
                           ng-model="ue.temp.l.ii_reg">
                    <div class="alert alert-danger"
                         ng-if="ue.legalForm.ii_reg.$touched &&
                         (ue.legalForm.ii_reg.$error.required||ue.legalForm.ii_reg.$error.mask)">
                        <small>Введите номер свидетельства</small>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="datepickerAng form-group">
                    <label>Дата выдачи свидетельства о государственной регистрации индивидуального предпринимателя:
                        <span class="text-danger">*</span></label>
                    <input type="text" class="form-control"
                           uib-datepicker-popup="dd-MM-yyyy" name="ii_reg_date"
                           ng-model="ue.temp.l.ii_reg_date" required
                           datepicker-options="ue.dateOptions"
                           is-open="ii_open1" show-button-bar="false"
                           ng-click="ii_open1 = true"/>
                    <div class="alert alert-danger"
                         ng-if="ue.legalForm.ii_reg_date.$touched && (ue.legalForm.ii_reg_date.$error.required || ue.legalForm.ii_reg_date.$error.date)">
                        <small>Введите дату</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                    <label>Номер свидетельства о присвоении идентификационного номера налогоплательщика Российской
                        Федерации: <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" required name="ii_num_id" ng-model="ue.temp.l.ii_num_id">
                    <div class="alert alert-danger"
                         ng-if="ue.legalForm.ii_num_id.$touched && ue.legalForm.ii_num_id.$error.required">
                        <small>Введите номер свидетельства</small>
                    </div>
                </div>
            </div>
            <div class="datepickerAng col-xs-12 col-sm-6">
                <div class="form-group">
                    <label>Дата выдачи свидетельства о присвоении идентификационного номера налогоплательщика
                        Российской Федерации: <span class="text-danger">*</span></label>
                    <input type="text" class="form-control"
                           uib-datepicker-popup="dd-MM-yyyy" name="ii_num_date"
                           ng-model="ue.temp.l.ii_num_date" required
                           datepicker-options="ue.dateOptions"
                           is-open="ii_open2" show-button-bar="false"
                           ng-click="ii_open2 = true"/>
                    <div class="alert alert-danger"
                         ng-if="ue.legalForm.ii_num_date.$touched && (ue.legalForm.ii_num_date.$error.required || ue.legalForm.ii_num_date.$error.date)">
                        <small>Введите дату</small>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label>Загрузите скан документов <span class="text-danger">*</span></label>
            <div class="form-group">
                <div class="file_upload">
                    <label>
                        <span class="btn btn-success btn-sm btn-block">Скан Свидетельства о гос регистрации ИП</span>
                        <input type="file"
                               ng-model="ue.temp.t.ii_photo_1"
                               name="ii_photo_1_temp"
                               ng-click="ue.blur.ii_photo_1=1"
                               accept=".png,.jpg,.jpeg"
                               ngf-select="ue.uploadDocs($file,'ii_photo_1')"
                               ngf-max-size="2MB"
                               ngf-model-invalid="ii_errorFile1">
                        <input type="hidden" ng-model="ue.temp.l.ii_photo_1" required name="ii_photo_1">
                        <span class="file_title">{{ue.temp.l.ii_photo_1.slice(-20)}}</span>
                    </label>
                </div>
                <span class="alert alert-danger" ng-if="ue.legalForm.ii_photo_1_temp.$error.maxSize">
                            <small>Вы пытаетесь загрузить файл размером {{ii_errorFile1.size / 1000000|number:1}}MB .
                                максимально допустимый размер 2M</small></span>
                <span ng-show="ue.blur.ii_photo_1 && ue.legalForm.ii_photo_1.$error.required"
                      class="alert alert-danger"><small>Загрузите скан</small></span>
            </div>

            <div class="form-group">
                <div class="file_upload">
                    <label>
                        <span class="btn btn-success btn-sm btn-block">Скан Свидетельства о присвоении
                            ИНН Российской Федерации</span>
                        <input type="file"
                               ng-model="ue.temp.t.ii_photo_2"
                               name="ii_photo_2_temp"
                               ng-click="ue.blur.ii_photo_2=1"
                               accept=".png,.jpg,.jpeg"
                               ngf-select="ue.uploadDocs($file,'ii_photo_2')"
                               ngf-max-size="2MB"
                               ngf-model-invalid="ii_errorFile2">
                        <input type="hidden" ng-model="ue.temp.l.ii_photo_2" required name="ii_photo_2">
                        <span class="file_title">{{ue.temp.l.ii_photo_2.slice(-20)}}</span>
                    </label>
                </div>
                <span class="alert alert-danger" ng-if="ue.legalForm.ii_photo_2_temp.$error.maxSize">
                            <small>Вы пытаетесь загрузить файл размером {{ii_errorFile2.size / 1000000|number:1}}MB .
                                максимально допустимый размер 2M</small></span>
                <span ng-show="ue.blur.ii_photo_2 && ue.legalForm.ii_photo_2.$error.required"
                      class="alert alert-danger"><small>Загрузите скан</small></span>
            </div>
        </div>

        <div class="modal-sep"></div>

        <div class="title--small">Банковские реквизиты</div>

        <div class="form-group">
            <label>Название банка: <span class="text-danger">*</span></label>
            <input type="text" class="form-control" required name="ii_bank_name" ng-model="ue.temp.l.ii_bank_name">
            <div class="alert alert-danger"
                 ng-if="ue.legalForm.ii_bank_name.$touched && ue.legalForm.ii_bank_name.$error.required">
                <small>Введите название банка</small>
        </div>

        <div class="form-group">
            <label>БИК: <span class="text-danger">*</span></label>
            <input type="text" class="form-control" name="ii_bank_bik" required
                   ng-model="ue.temp.l.ii_bank_bik"
                   mask='999999999' restrict="reject">
            <div class="alert alert-danger"
                 ng-if="ue.legalForm.ii_bank_bik.$touched &&
                 (ue.legalForm.ii_bank_bik.$error.required||ue.legalForm.ii_bank_bik.$error.mask)">
                <small>Введите правильный БИК банка</small>
            </div>
        </div>

        <div class="form-group">
            <label>Корреспондентский счет банка: <span class="text-danger">*</span></label>
            <input type="text" class="form-control" name="ii_bank_corr" required
                   ng-model="ue.temp.l.ii_bank_corr"
                   mask='99999 99999 99999 99999' restrict="reject" mask-clean="true">
            <div class="alert alert-danger"
                 ng-if="ue.legalForm.ii_bank_corr.$touched &&
                 (ue.legalForm.ii_bank_corr.$error.required||ue.legalForm.ii_bank_corr.$error.mask)">
                <small>Введите правильный кор. счет банка</small>
            </div>
        </div>

        <div class="form-group">
            <label>Расчетный счет: <span class="text-danger">*</span></label>
            <input type="text" class="form-control" name="ii_bank_account" required
                   ng-model="ue.temp.l.ii_bank_account"
                   ui-mask='99999 99999 99999 99999'
                   ui-mask-placeholder-char="space">
            <div class="alert alert-danger"
                 ng-if="ue.legalForm.ii_bank_account.$touched &&
                 (ue.legalForm.ii_bank_account.$error.required||ue.legalForm.ii_bank_account.$error.mask)">
                <small>Введите правильный номер расчетного счета банка</small>
            </div>
        </div>
    </div>
    </div>
</form>