
<button class="close" ng-click="$dismiss()"><span>&times;</span></button>

<div class="modal-header">
    <div class="title text-center" ng-if="pay.m.deposit">Пополнение счета</div>
    <div class="title text-center" ng-if="pay.m.payProject_invest">Инвестирование</div>
    <div class="title text-center" ng-if="pay.m.payProject_reward">Поддержать проект</div>
    <div class="title text-center" ng-if="pay.m.payProject_loan">Займ</div>
</div>

<div class="modal-body">
    <form name="pay.payForm">
        <!--пополнение счета     если не хватает денег для оплаты проекта то показывается именно это-->
        <div ng-if="pay.m.deposit">
            <div class="profile_fields--item row">
                <div class="profile_fields--left col-xs-12 col-sm-6">Введите сумму:</div>
                <div class="profile_fields--right col-xs-12 col-sm-6">
                    <input type="text" name="amountMoney" ozk-number required ng-model="pay.amountMoney">
                </div>
            </div>
            <!--<div class="profile_fields&#45;&#45;item row">
                <div class="profile_fields&#45;&#45;left col-xs-12 col-sm-6">К оплате с учетом комиссии платежной системы:</div>
                <div class="profile_fields&#45;&#45;right col-xs-12 col-sm-6">
                    <span>{{pay.amountMoney*pay.tax||0|myround:2:'math'|thousand}} <i class="fa fa-rub"></i></span>
                </div>
            </div>-->

            <div class="text-center">
                <button class="btn btn-danger" ng-click="$dismiss()">Отменить</button>
                <button class="btn btn-success"
                        ng-click="pay.doDeposit(pay.amountMoney)"
                        ng-disabled="pay.payForm.$invalid">Оплатить</button>
            </div>
        </div>
        <!--инвестиции-->
        <div ng-if="pay.m.payProject_invest">

            <div class="profile_fields--item row">
                <div class="profile_fields--left col-xs-12 col-sm-6">Количество долей:</div>
                <div class="profile_fields--right col-xs-12 col-sm-6">
                    {{pay.amountI}}
                </div>
            </div>
            <div class="profile_fields--item row">
                <div class="profile_fields--left col-xs-12 col-sm-6">Стоимость доли:</div>
                <div class="profile_fields--right col-xs-12 col-sm-6">
                    {{pay.sharePriceI|thousand}}<i class="fa fa-rub"></i>
                </div>
            </div>
            <div class="profile_fields--item row">
                <div class="profile_fields--left col-xs-12 col-sm-6">Итого:</div>
                <div class="profile_fields--right col-xs-12 col-sm-6">
                    <span>{{pay.sum|thousand}}<i class="fa fa-rub"></i></span>
                </div>
            </div>
            <div class="profile_fields--item row">
                <div class="profile_fields--left col-xs-12 col-sm-6">Обеспечение заявки:</div>
                <div class="profile_fields--right col-xs-12 col-sm-6">
                    {{pay.sum10percent|thousand}}<i class="fa fa-rub"></i>
                </div>
            </div>
            <div class="text-center">
                <button class="btn btn-danger" ng-click="$dismiss()">Отменить</button>
                <button class="btn btn-success"
                        ng-disabled="!pay.isAuth"
                        ng-click="pay.doPayProject('invest')">Оплатить</button>
                <br>
            </div>
        </div>
        <!--займ-->
        <div ng-if="pay.m.payProject_loan">

            <div class="profile_fields--item row">
                <div class="profile_fields--left col-xs-12 col-sm-6">Сумма займа:</div>
                <div class="profile_fields--right col-xs-12 col-sm-6">
                    {{pay.amountL|thousand}}<i class="fa fa-rub"></i>
                </div>
            </div>
            <div class="profile_fields--item row">
                <div class="profile_fields--left col-xs-12 col-sm-6">Обеспечение заявки:</div>
                <div class="profile_fields--right col-xs-12 col-sm-6">
                    {{pay.amountL/10 | myround:0 |thousand}}<i class="fa fa-rub"></i>
                </div>
            </div>

            <div class="text-center">
                <button class="btn btn-danger" ng-click="$dismiss()">Отменить</button>
                <button class="btn btn-success"
                        ng-disabled="!pay.isAuth"
                        ng-click="pay.doPayProject('loan')">Оплатить</button>
                <br>
            </div>
        </div>
        <!--reward-->
        <div ng-if="pay.m.payProject_reward">

            <div class="profile_fields--item row">
                <div class="profile_fields--left col-xs-12 col-sm-6">Количество вознаграждений:</div>
                <div class="profile_fields--right col-xs-12 col-sm-6">
                    {{pay.amountR}}
                </div>
            </div>
            <div class="profile_fields--item row">
                <div class="profile_fields--left col-xs-12 col-sm-6">
                    Стоимость вознаграждения:
                </div>
                <div class="profile_fields--right col-xs-12 col-sm-6">
                    {{pay.sharePriceR|thousand}}<i class="fa fa-rub"></i>
                </div>
            </div>
            <div class="profile_fields--item row">
                <div class="profile_fields--left col-xs-12 col-sm-6">Итого:</div>
                <div class="profile_fields--right col-xs-12 col-sm-6">
                    <span>{{pay.amountR*pay.sharePriceR|thousand}}<i class="fa fa-rub"></i></span>
                </div>
            </div>
            <div class="text-center">
                <button class="btn btn-danger" ng-click="$dismiss()">Отменить</button>
                <button class="btn btn-success"
                        ng-disabled="!pay.isAuth"
                        ng-click="pay.doPayProject('reward')">Оплатить</button>
                <br>
            </div>
        </div>
        <br>
        <div class="text-center" not-if="pay.isAuth">
            <div class="alert alert-info">
                Чтобы продолжить Вы должны&nbsp;
                <reg-button header="active" class="btn btn-info" ng-click="$dismiss()">авторизоваться</reg-button>
            </div>
        </div>
    </form>
    <br>
    <p class="alert alert-success" ng-if="pay.succesTransaq">
        Операция успешно завершена
    </p>
    <div class="alert alert-danger" ng-if="pay.error">
        {{pay.error}}.
        <a href ng-if="pay.errorNoMoney" ng-click="pay.deposit()" class="btn btn-info">
            <i class="fa fa-money"></i>&nbsp;Пополнить баланс
        </a>
    </div>
</div>

